{% extends 'base.html' %} {% load bootstrap4 %}
{% block content %}
{{block.super}}

<img src="{{profile_item.profile.profilePic.url}}" class="img-fluid rounded-circle">

<div class="container">
    <div class="row">
        {% if profile %}
        <div class="col-md-4">


            <div class="card">
                <p style="text-align:center;font-size: 2em;">{{ user.username }}</p>

            </div>
            <hr>
            <div class="card-body">
                <img src="{{profile.profile_pic.url}}" alt="img-fluid" style="width:70%; height:auto">
            </div>
            <div class="card-footer">
                <p> {{ request.user.profile.bio }}</p>
                <div class="col-md-4"></div>
                <p>{{ request.user.profile.contact }}</p>
            </div>

        </div>

        {% endif %}
    </div>
</div>

{% endblock %}