{% extends 'base.html' %} {% load bootstrap4 %}
{% block content %}
{{block.super}}

<img src="{{profile_item.profile.profilePic.url}}" class="img-fluid rounded-circle">

<div class="container">
    <div class="row">
        {% if profile %}
        <div class="col-md-4">


            <div class="card-header">
                {{ profile.user.username }}

            </div>
            <hr>
            <div class="card-body">
                <img src="{{profile.profile_pic.url}}" alt="img-fluid" style="width:50%; height:auto">
            </div>

        </div>

        {% endif %}
    </div>
</div>

{% endblock %}