{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}

{{block.super}}
<div class="container">

    <div class="row">
        {% if projects %}

        {% for p in projects%}
        <br>
        <div class="col-md-4">
            <legend>
                <h4>{{p.title}}</h4>
            </legend>

            
            <div class="hovereffect">

                <img src="{{ p.project_image.url }}" class="img-fluid" alt="photo">
                <div class="overlay">
                    <p>
                        <a href="{% url 'review' project_id=p.id %}" class="btn btn-indigo btn-md">Rate
                            here</a>
                    </p>
                    <hr>
                    <div class="container-footer">
                        <p> uploaded on {{p.upload_date}}</p>
                    </div><br>
                    <p><a href="{{p.project_url}}">{{p.project_url}}</a></p>
                  
                    <hr>
                </div>
            </div>
        </div>
        {% endfor%}
        {% endif %}
      
    </div>
</div>
{% endblock %}