{% load bootstrap4 %} {% load static %}
{% if user.is_authenticated %}
<header>
    <h1>Welcome to the Awards</h1>
</header>
<nav class="sticky">


    <ul>
        <section class="icons-section">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'home' %}"><i style="color:blue;" class="fa fa-home fa-2x"></i></a>
                    <a href="{% url 'profile' %}"><i style="color:blue;" class="fa fa-user fa-2x"></i></a>
                    <a href="#"><i style="color:blue;" class="material-icons-2x"></i></a>
                    <!-- <a href="#"><i style="color:blue;" class="fa fa-settings fa-2x"></i></a> -->
                    <a href="{% url 'edit' %}"><i style="color:blue;" class="fa fa-cog fa-spin fa-3x fa-fw"></i></a>
                    <span class="sr-only">Loading...</span>


                    <a href="{% url 'upload' %}"><i style="color:blue;" class="fa fa-upload fa-2x"></i></a>

                    <a href="/accounts/password/change/"><i style="color:blue;" class="fa fa-password fa-2x"></i></a>
                    <a href="/logout"><i style="color:blue;" class="fa fa-sign-out-alt fa-2x"></i></a>
                </div>

                <div style="text-align:right;" class="col-md-4">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="" style="border-radius:50%; width: 70px; height: 70px;">
                    <span><a href="{% url 'edit' %}" style="color: white; font-size: 20px; text-decoration: none;">{{request.user.username}}</a></span>
                </div>
                <div class="col-md-4">
                    <form role="search" action="{% url 'search' %}">
                        <input class="input-search" type="text" name="username" placeholder="Search name" />
                        <button class="btn btn-outline-success my-2 my-sm-0" role="search" type="submit">Search
                        </button>
                    </form>
                </div>
            </div>



        </section>
    </ul>
</nav>
<main>

</main>
{% endif %}
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>