{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <legend> Review </legend>
            <form action="{%url 'review' project.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-sm" value="Post">
                </div>
            </form>
        </div>
        <div class="col-md-6">

            {% if review%}
            {{review.count}}
            {% endif %}
            <div class="col-md-12">
                {% for r in review%}
                {% if project %}

                <div class="hovereffect">
                    <legend>
                        <h4>{{project.title}}</h4>
                    </legend>
                    <div class="card">
                        <img src="{{ project.project_image.url  }}" style="width:100%;">

                        <div class="div-footer">
                            USABILITY :{{ r.usability_rating }} <br>
                            DESIGN :{{ r.design_rating }} <br>
                            CONTENT :{{ r.content_rating }} <br>
                        </div>

                    </div>
                    <legend>
                        
                    </legend>
                </div>
                {% endif %}
                {% endfor%}

            </div>
        </div>
    </div>
</div>
{% endblock %}